﻿@import url("select2.min.css");

/* From https://google-webfonts-helper.herokuapp.com/ */

/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/roboto-v16-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Roboto Light'), local('Roboto-Light'),
       url('../../fonts/roboto-v15-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/roboto-v15-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/roboto-v15-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/roboto-v15-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/roboto-v15-latin-300.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/roboto-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('../../fonts/roboto-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/roboto-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/roboto-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/roboto-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/roboto-v15-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url('../../fonts/roboto-v15-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Roboto Italic'), local('Roboto-Italic'),
       url('../../fonts/roboto-v15-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/roboto-v15-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/roboto-v15-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/roboto-v15-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/roboto-v15-latin-italic.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../../fonts/roboto-v15-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Roboto Medium'), local('Roboto-Medium'),
       url('../../fonts/roboto-v15-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/roboto-v15-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/roboto-v15-latin-500.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/roboto-v15-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/roboto-v15-latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-500italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: url('../../fonts/roboto-v15-latin-500italic.eot'); /* IE9 Compat Modes */
  src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'),
       url('../../fonts/roboto-v15-latin-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/roboto-v15-latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/roboto-v15-latin-500italic.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/roboto-v15-latin-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/roboto-v15-latin-500italic.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../../fonts/roboto-v15-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('../../fonts/roboto-v15-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/roboto-v15-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/roboto-v15-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/roboto-v15-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/roboto-v15-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-700italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: url('../../fonts/roboto-v15-latin-700italic.eot'); /* IE9 Compat Modes */
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'),
       url('../../fonts/roboto-v15-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/roboto-v15-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/roboto-v15-latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/roboto-v15-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/roboto-v15-latin-700italic.svg#Roboto') format('svg'); /* Legacy iOS */
}

body.media-mobile div.filter-holder ul, body.media-landscape div.filter-holder ul, body.media-desktop div.filter-holder ul, body.media-mobile div.filter-holder label, body.media-landscape div.filter-holder label, body.media-desktop div.filter-holder label, .unselectable, div.functionbar, div.topic div.functionholder, body.media-mobile div.mobilespecialfunctions, body.media-mobile div.searchbar.layout-visible, body.media-mobile div.functionbar, body.media-mobile div.filter-holder div.mobile-filter-heading, body.media-desktop div.searchbar-extra a.wSearchLink, body.media-desktop div.searchbar-extra div.searchAND.layout-visible label { -moz-user-select: -moz-none; -khtml-user-select: none; -webkit-user-select: none; -o-user-select: none; user-select: none; }

div.toc-holder ul { list-style: none; margin: 0; padding: 0; }
div.toc-holder ul a { display: block; margin: 0; padding: 0; color: inherit; }
div.toc-holder ul li { min-height: 1.2em; line-height: 1.5em; min-width: 6em; border-left: .4em solid transparent; }
div.toc-holder ul li:not(.show) { min-height: 0; min-width: 0; }
div.toc-holder ul li li { font-size: 100%; }
div.toc-holder ul li.child { display: block; overflow-y: hidden; max-height: 0em; -o-transition-duration: 0.5s; -o-transition-timing-function: cubic-bezier(0, 1.05, 0, 1); -o-transition-property: max-height; -ms-transition-duration: 0.5s; -ms-transition-timing-function: cubic-bezier(0, 1.05, 0, 1); -ms-transition-property: max-height; -moz-transition-duration: 0.5s; -moz-transition-timing-function: cubic-bezier(0, 1.05, 0, 1); -moz-transition-property: max-height; -webkit-transition-duration: 0.5s; -webkit-transition-timing-function: cubic-bezier(0, 1.05, 0, 1); -webkit-transition-property: max-height; transition-duration: 0.5s; transition-timing-function: cubic-bezier(0, 1.05, 0, 1); transition-property: max-height; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; backface-visibility: hidden; -webkit-perspective: 1000; -moz-perspective: 1000; -ms-perspective: 1000; perspective: 1000; }
div.toc-holder ul li.child:not(.show) { overflow-x: hidden; }
div.toc-holder ul li.child.show { max-height: 5000em; min-height: 0; overflow-y: visible; -o-transition-duration: 0.7s; -o-transition-timing-function: cubic-bezier(1, 0, 1, 0); -o-transition-property: max-height; -ms-transition-duration: 0.7s; -ms-transition-timing-function: cubic-bezier(1, 0, 1, 0); -ms-transition-property: max-height; -moz-transition-duration: 0.7s; -moz-transition-timing-function: cubic-bezier(1, 0, 1, 0); -moz-transition-property: max-height; -webkit-transition-duration: 0.7s; -webkit-transition-timing-function: cubic-bezier(1, 0, 1, 0); -webkit-transition-property: max-height; transition-duration: 0.7s; transition-timing-function: cubic-bezier(1, 0, 1, 0); transition-property: max-height; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; backface-visibility: hidden; -webkit-perspective: 1000; -moz-perspective: 1000; -ms-perspective: 1000; perspective: 1000; }
div.toc-holder ul li.child.expanding.show { max-height: 5000em; min-height: 0; overflow-x: hidden; overflow-y: hidden; }
div.toc-holder ul li.child.collapsing { overflow-x: hidden; overflow-y: hidden; }
div.toc-holder a { text-decoration: none; }
div.toc-holder a:hover { text-decoration: underline; }
div.toc-holder:not(.drill-down) li.child.expanding.show { margin-top: -0.14em; margin-bottom: -0.14em; }
div.toc-holder:not(.drill-down) li.child.collapsing { margin-top: -0.14em; margin-bottom: 0.3em; }

@-ms-keyframes drill-down-up-mobile { from { margin-left: 25%; }
  to { margin-left: -2.6em; } }
@-moz-keyframes drill-down-up-mobile { from { margin-left: 25%; }
  to { margin-left: -2.6em; } }
@-webkit-keyframes drill-down-up-mobile { from { margin-left: 25%; }
  to { margin-left: -2.6em; } }
@keyframes drill-down-up-mobile { from { margin-left: 25%; }
  to { margin-left: -2.6em; } }
@-ms-keyframes drill-down-up-landscape { from { margin-left: 25%; }
  to { margin-left: 0; } }
@-moz-keyframes drill-down-up-landscape { from { margin-left: 25%; }
  to { margin-left: 0; } }
@-webkit-keyframes drill-down-up-landscape { from { margin-left: 25%; }
  to { margin-left: 0; } }
@keyframes drill-down-up-landscape { from { margin-left: 25%; }
  to { margin-left: 0; } }
body.media-mobile div.drill-down.toc-holder ul, body.media-landscape div.drill-down.toc-holder ul { margin-left: 0 !important; }
body.media-mobile div.drill-down.toc-holder ul li.collapsing, body.media-landscape div.drill-down.toc-holder ul li.collapsing { -ms-animation-name: drill-down-up; -ms-animation-duration: 0.5s; -moz-animation-name: drill-down-up; -moz-animation-duration: 0.5s; -webkit-animation-name: drill-down-up; -webkit-animation-duration: 0.5s; animation-name: drill-down-up; animation-duration: 0.5s; }
body.media-mobile div.drill-down.toc-holder ul li.child ul.child, body.media-landscape div.drill-down.toc-holder ul li.child ul.child { overflow: hidden; }
body.media-mobile div.drill-down.toc-holder li, body.media-landscape div.drill-down.toc-holder li { border-left-width: 0 !important; }
body.media-mobile div.drill-down.toc-holder li.selected, body.media-landscape div.drill-down.toc-holder li.selected { padding-left: 1.55em !important; background-position: .4em .8em; border-left-width: .2em !important; }
body.media-mobile div.drill-down.toc-holder li.active.rh-hide, body.media-landscape div.drill-down.toc-holder li.active.rh-hide { display: list-item !important; }
body.media-mobile div.drill-down.toc-holder li.inactive, body.media-landscape div.drill-down.toc-holder li.inactive { display: none; }
body.media-mobile div.drill-down.toc-holder ul.child, body.media-landscape div.drill-down.toc-holder ul.child { padding-left: 2.6em !important; margin-left: 0; }
body.media-mobile div.toc-holder ul, body.media-landscape div.toc-holder ul { margin-left: .25em; }
body.media-mobile div.toc-holder ul li.book, body.media-landscape div.toc-holder ul li.book, body.media-mobile div.toc-holder ul li.item, body.media-landscape div.toc-holder ul li.item, body.media-mobile div.toc-holder ul li.url, body.media-landscape div.toc-holder ul li.url { padding: 0.5em 1.75em 0.5em 2em; margin-top: .25em; margin-bottom: .25em; margin-left: -2.6em; margin-right: auto; min-height: 1.5em; vertical-align: middle; -o-transition-duration: 0.35s; -o-transition-timing-function: ease-out; -o-transition-property: border-left; -ms-transition-duration: 0.35s; -ms-transition-timing-function: ease-out; -ms-transition-property: border-left; -moz-transition-duration: 0.35s; -moz-transition-timing-function: ease-out; -moz-transition-property: border-left; -webkit-transition-duration: 0.35s; -webkit-transition-timing-function: ease-out; -webkit-transition-property: border-left; transition-duration: 0.35s; transition-timing-function: ease-out; transition-property: border-left; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; backface-visibility: hidden; -webkit-perspective: 1000; -moz-perspective: 1000; -ms-perspective: 1000; perspective: 1000; }
body.media-mobile div.toc-holder ul li.book, body.media-landscape div.toc-holder ul li.book { cursor: pointer; }
body.media-mobile div.toc-holder ul li.book.loading-book, body.media-landscape div.toc-holder ul li.book.loading-book { background-image: url("loading.gif"); background-repeat: no-repeat; background-position: 0.6em 0.8em; background-size: 0.9375em 0.9375em; background-size: 1em; }
body.media-mobile div.toc-holder ul li.child, body.media-landscape div.toc-holder ul li.child { margin-left: -2.6em !important; }
body.media-mobile div.toc-holder ul li.child ul.child, body.media-landscape div.toc-holder ul li.child ul.child { list-style: none; padding-left: 3.4em; }

body.media-desktop div.toc-holder { margin-top: 2em; }
body.media-desktop div.toc-holder * { width: auto; white-space: nowrap; }
body.media-desktop div.toc-holder > ul li { padding-left: 2em; }
body.media-desktop div.toc-holder ul { margin: 0; padding: 0; }
body.media-desktop div.toc-holder ul li.book, body.media-desktop div.toc-holder ul li.item, body.media-desktop div.toc-holder ul li.url { font-size: 1.4em; min-height: 1.2em; padding: .1em 0; margin: .1em 0; vertical-align: middle; }
body.media-desktop div.toc-holder ul li.book { cursor: pointer; }
body.media-desktop div.toc-holder ul li.book.loading-book { padding-left: 2.15em; background-image: url("loading.gif"); background-repeat: no-repeat; background-position: 0.5em 0.4em; background-size: auto; background-size: 1em; }
body.media-desktop div.toc-holder ul li.item a { background-position: .55em .15em; }
body.media-desktop div.toc-holder ul li.url a { background-position: .5em .2em; }
body.media-desktop div.toc-holder ul li.child ul.child { list-style: none; padding-left: 0; }

body.media-mobile div.idx-holder div.Index, body.media-mobile div.glo-holder div.Glossary, body.media-landscape div.idx-holder div.Index, body.media-landscape div.glo-holder div.Glossary, body.media-desktop div.idx-holder div.Index, body.media-desktop div.glo-holder div.Glossary { width: 100%; }
body.media-mobile div.idx-holder div.Index input, body.media-mobile div.glo-holder div.Glossary input, body.media-landscape div.idx-holder div.Index input, body.media-landscape div.glo-holder div.Glossary input, body.media-desktop div.idx-holder div.Index input, body.media-desktop div.glo-holder div.Glossary input { width: 98%; margin: .6em 1% .3em; height: 3em; padding: 0 .3em; font-size: 100%; -webkit-appearance: none; -webkit-border-radius: 0.5em; -moz-border-radius: 0.5em; border-radius: 0.5em; }
body.media-mobile div.idx-holder div.Index input:focus, body.media-mobile div.glo-holder div.Glossary input:focus, body.media-landscape div.idx-holder div.Index input:focus, body.media-landscape div.glo-holder div.Glossary input:focus, body.media-desktop div.idx-holder div.Index input:focus, body.media-desktop div.glo-holder div.Glossary input:focus { outline: none; }
body.media-mobile div.idx-holder div.Index input::-webkit-input-placeholder, body.media-mobile div.glo-holder div.Glossary input::-webkit-input-placeholder, body.media-landscape div.idx-holder div.Index input::-webkit-input-placeholder, body.media-landscape div.glo-holder div.Glossary input::-webkit-input-placeholder, body.media-desktop div.idx-holder div.Index input::-webkit-input-placeholder, body.media-desktop div.glo-holder div.Glossary input::-webkit-input-placeholder { font-style: italic; padding-left: .3em; }
body.media-mobile div.idx-holder div.Index input:-moz-placeholder, body.media-mobile div.glo-holder div.Glossary input:-moz-placeholder, body.media-landscape div.idx-holder div.Index input:-moz-placeholder, body.media-landscape div.glo-holder div.Glossary input:-moz-placeholder, body.media-desktop div.idx-holder div.Index input:-moz-placeholder, body.media-desktop div.glo-holder div.Glossary input:-moz-placeholder { font-style: italic; padding-left: .3em; }
body.media-mobile div.idx-holder div.Index input::-moz-placeholder, body.media-mobile div.glo-holder div.Glossary input::-moz-placeholder, body.media-landscape div.idx-holder div.Index input::-moz-placeholder, body.media-landscape div.glo-holder div.Glossary input::-moz-placeholder, body.media-desktop div.idx-holder div.Index input::-moz-placeholder, body.media-desktop div.glo-holder div.Glossary input::-moz-placeholder { font-style: italic; padding-left: .3em; }
body.media-mobile div.idx-holder div.Index input::-ms-input-placeholder, body.media-mobile div.glo-holder div.Glossary input::-ms-input-placeholder, body.media-landscape div.idx-holder div.Index input::-ms-input-placeholder, body.media-landscape div.glo-holder div.Glossary input::-ms-input-placeholder, body.media-desktop div.idx-holder div.Index input::-ms-input-placeholder, body.media-desktop div.glo-holder div.Glossary input::-ms-input-placeholder { font-style: italic; padding-left: .3em; }
body.media-mobile div.idx-holder div.Index a, body.media-mobile div.glo-holder div.Glossary a, body.media-landscape div.idx-holder div.Index a, body.media-landscape div.glo-holder div.Glossary a, body.media-desktop div.idx-holder div.Index a, body.media-desktop div.glo-holder div.Glossary a { color: inherit !important; text-decoration: none; display: block; }
body.media-mobile div.idx-holder div.Index a:hover, body.media-mobile div.glo-holder div.Glossary a:hover, body.media-landscape div.idx-holder div.Index a:hover, body.media-landscape div.glo-holder div.Glossary a:hover, body.media-desktop div.idx-holder div.Index a:hover, body.media-desktop div.glo-holder div.Glossary a:hover, body.media-mobile div.idx-holder div.Index a:active, body.media-mobile div.glo-holder div.Glossary a:active, body.media-landscape div.idx-holder div.Index a:active, body.media-landscape div.glo-holder div.Glossary a:active, body.media-desktop div.idx-holder div.Index a:active, body.media-desktop div.glo-holder div.Glossary a:active { text-decoration: underline; }
body.media-mobile div.idx-holder div.Index ul, body.media-mobile div.glo-holder div.Glossary ul, body.media-landscape div.idx-holder div.Index ul, body.media-landscape div.glo-holder div.Glossary ul, body.media-desktop div.idx-holder div.Index ul, body.media-desktop div.glo-holder div.Glossary ul { padding-left: 0px; }
body.media-mobile div.idx-holder div.Index .index-list, body.media-mobile div.glo-holder div.Glossary .index-list, body.media-landscape div.idx-holder div.Index .index-list, body.media-landscape div.glo-holder div.Glossary .index-list, body.media-desktop div.idx-holder div.Index .index-list, body.media-desktop div.glo-holder div.Glossary .index-list { list-style-type: none; margin-top: 0; }
body.media-mobile div.idx-holder div.Index li.treeitem, body.media-mobile div.glo-holder div.Glossary li.treeitem, body.media-landscape div.idx-holder div.Index li.treeitem, body.media-landscape div.glo-holder div.Glossary li.treeitem, body.media-desktop div.idx-holder div.Index li.treeitem, body.media-desktop div.glo-holder div.Glossary li.treeitem { margin-left: .3em; }
body.media-mobile div.idx-holder div.Index li.treeitem.IndexAlphabet, body.media-mobile div.glo-holder div.Glossary li.treeitem.IndexAlphabet, body.media-landscape div.idx-holder div.Index li.treeitem.IndexAlphabet, body.media-landscape div.glo-holder div.Glossary li.treeitem.IndexAlphabet, body.media-desktop div.idx-holder div.Index li.treeitem.IndexAlphabet, body.media-desktop div.glo-holder div.Glossary li.treeitem.IndexAlphabet, body.media-mobile div.idx-holder div.Index li.treeitem.GloAlphabet, body.media-mobile div.glo-holder div.Glossary li.treeitem.GloAlphabet, body.media-landscape div.idx-holder div.Index li.treeitem.GloAlphabet, body.media-landscape div.glo-holder div.Glossary li.treeitem.GloAlphabet, body.media-desktop div.idx-holder div.Index li.treeitem.GloAlphabet, body.media-desktop div.glo-holder div.Glossary li.treeitem.GloAlphabet { font-size: 1.2em; border-bottom-style: solid; border-bottom-width: .1em; margin: auto 0.3em 0.5em auto; padding-left: .3em; }
body.media-mobile div.idx-holder div.Index li.treeitem .IndexKeyword, body.media-mobile div.glo-holder div.Glossary li.treeitem .IndexKeyword, body.media-landscape div.idx-holder div.Index li.treeitem .IndexKeyword, body.media-landscape div.glo-holder div.Glossary li.treeitem .IndexKeyword, body.media-desktop div.idx-holder div.Index li.treeitem .IndexKeyword, body.media-desktop div.glo-holder div.Glossary li.treeitem .IndexKeyword, body.media-mobile div.idx-holder div.Index li.treeitem .IndexKeyword:hover, body.media-mobile div.glo-holder div.Glossary li.treeitem .IndexKeyword:hover, body.media-landscape div.idx-holder div.Index li.treeitem .IndexKeyword:hover, body.media-landscape div.glo-holder div.Glossary li.treeitem .IndexKeyword:hover, body.media-desktop div.idx-holder div.Index li.treeitem .IndexKeyword:hover, body.media-desktop div.glo-holder div.Glossary li.treeitem .IndexKeyword:hover, body.media-mobile div.idx-holder div.Index li.treeitem .IndexLink, body.media-mobile div.glo-holder div.Glossary li.treeitem .IndexLink, body.media-landscape div.idx-holder div.Index li.treeitem .IndexLink, body.media-landscape div.glo-holder div.Glossary li.treeitem .IndexLink, body.media-desktop div.idx-holder div.Index li.treeitem .IndexLink, body.media-desktop div.glo-holder div.Glossary li.treeitem .IndexLink, body.media-mobile div.idx-holder div.Index li.treeitem .IndexLink:hover, body.media-mobile div.glo-holder div.Glossary li.treeitem .IndexLink:hover, body.media-landscape div.idx-holder div.Index li.treeitem .IndexLink:hover, body.media-landscape div.glo-holder div.Glossary li.treeitem .IndexLink:hover, body.media-desktop div.idx-holder div.Index li.treeitem .IndexLink:hover, body.media-desktop div.glo-holder div.Glossary li.treeitem .IndexLink:hover, body.media-mobile div.idx-holder div.Index li.treeitem .GlossTerm, body.media-mobile div.glo-holder div.Glossary li.treeitem .GlossTerm, body.media-landscape div.idx-holder div.Index li.treeitem .GlossTerm, body.media-landscape div.glo-holder div.Glossary li.treeitem .GlossTerm, body.media-desktop div.idx-holder div.Index li.treeitem .GlossTerm, body.media-desktop div.glo-holder div.Glossary li.treeitem .GlossTerm, body.media-mobile div.idx-holder div.Index li.treeitem .GlossTerm:hover, body.media-mobile div.glo-holder div.Glossary li.treeitem .GlossTerm:hover, body.media-landscape div.idx-holder div.Index li.treeitem .GlossTerm:hover, body.media-landscape div.glo-holder div.Glossary li.treeitem .GlossTerm:hover, body.media-desktop div.idx-holder div.Index li.treeitem .GlossTerm:hover, body.media-desktop div.glo-holder div.Glossary li.treeitem .GlossTerm:hover { min-height: 1.2em; line-height: 1.5em; cursor: pointer; }
body.media-mobile div.idx-holder div.Index li.treeitem .GlossTerm:hover, body.media-mobile div.glo-holder div.Glossary li.treeitem .GlossTerm:hover, body.media-landscape div.idx-holder div.Index li.treeitem .GlossTerm:hover, body.media-landscape div.glo-holder div.Glossary li.treeitem .GlossTerm:hover, body.media-desktop div.idx-holder div.Index li.treeitem .GlossTerm:hover, body.media-desktop div.glo-holder div.Glossary li.treeitem .GlossTerm:hover { text-decoration: underline; }
body.media-mobile div.idx-holder div.Index li.treeitem .IndexLink, body.media-mobile div.glo-holder div.Glossary li.treeitem .IndexLink, body.media-landscape div.idx-holder div.Index li.treeitem .IndexLink, body.media-landscape div.glo-holder div.Glossary li.treeitem .IndexLink, body.media-desktop div.idx-holder div.Index li.treeitem .IndexLink, body.media-desktop div.glo-holder div.Glossary li.treeitem .IndexLink, body.media-mobile div.idx-holder div.Index li.treeitem .IndexLink, body.media-mobile div.glo-holder div.Glossary li.treeitem .IndexLink, body.media-landscape div.idx-holder div.Index li.treeitem .IndexLink, body.media-landscape div.glo-holder div.Glossary li.treeitem .IndexLink, body.media-desktop div.idx-holder div.Index li.treeitem .IndexLink, body.media-desktop div.glo-holder div.Glossary li.treeitem .IndexLink { margin-top: .75em; margin-bottom: .75em; padding-left: 1.6em; }
body.media-mobile div.idx-holder div.Index li.treeitem .GlossDefinition, body.media-mobile div.glo-holder div.Glossary li.treeitem .GlossDefinition, body.media-landscape div.idx-holder div.Index li.treeitem .GlossDefinition, body.media-landscape div.glo-holder div.Glossary li.treeitem .GlossDefinition, body.media-desktop div.idx-holder div.Index li.treeitem .GlossDefinition, body.media-desktop div.glo-holder div.Glossary li.treeitem .GlossDefinition, body.media-mobile div.idx-holder div.Index li.treeitem .GlossDefinition:hover, body.media-mobile div.glo-holder div.Glossary li.treeitem .GlossDefinition:hover, body.media-landscape div.idx-holder div.Index li.treeitem .GlossDefinition:hover, body.media-landscape div.glo-holder div.Glossary li.treeitem .GlossDefinition:hover, body.media-desktop div.idx-holder div.Index li.treeitem .GlossDefinition:hover, body.media-desktop div.glo-holder div.Glossary li.treeitem .GlossDefinition:hover { min-height: 1.2em; line-height: 1.5em; cursor: pointer; text-decoration: none; margin-left: 2.5em; }
body.media-mobile div.idx-holder div.Index li.treeitem .IndexChildBlock, body.media-mobile div.glo-holder div.Glossary li.treeitem .IndexChildBlock, body.media-landscape div.idx-holder div.Index li.treeitem .IndexChildBlock, body.media-landscape div.glo-holder div.Glossary li.treeitem .IndexChildBlock, body.media-desktop div.idx-holder div.Index li.treeitem .IndexChildBlock, body.media-desktop div.glo-holder div.Glossary li.treeitem .IndexChildBlock { margin-left: 2.5em; }
body.media-mobile div.idx-holder div.Index li.treeitem .IndexChildBlock.IndexKeyword:hover, body.media-mobile div.glo-holder div.Glossary li.treeitem .IndexChildBlock.IndexKeyword:hover, body.media-landscape div.idx-holder div.Index li.treeitem .IndexChildBlock.IndexKeyword:hover, body.media-landscape div.glo-holder div.Glossary li.treeitem .IndexChildBlock.IndexKeyword:hover, body.media-desktop div.idx-holder div.Index li.treeitem .IndexChildBlock.IndexKeyword:hover, body.media-desktop div.glo-holder div.Glossary li.treeitem .IndexChildBlock.IndexKeyword:hover { text-decoration: none; }
body.media-mobile div.idx-holder div.Index li.treeitem .IndexChildBlock .treeitem, body.media-mobile div.glo-holder div.Glossary li.treeitem .IndexChildBlock .treeitem, body.media-landscape div.idx-holder div.Index li.treeitem .IndexChildBlock .treeitem, body.media-landscape div.glo-holder div.Glossary li.treeitem .IndexChildBlock .treeitem, body.media-desktop div.idx-holder div.Index li.treeitem .IndexChildBlock .treeitem, body.media-desktop div.glo-holder div.Glossary li.treeitem .IndexChildBlock .treeitem { margin-left: 0; }

body.media-mobile div.idx-holder div.Index li.treeitem, body.media-mobile div.glo-holder div.Glossary li.treeitem, body.media-landscape div.idx-holder div.Index li.treeitem, body.media-landscape div.glo-holder div.Glossary li.treeitem { margin-top: .75em; margin-bottom: .75em; min-height: 1.2em; line-height: 1.5em; }
body.media-mobile div.idx-holder div.Index li.treeitem .GlossDefinition, body.media-mobile div.glo-holder div.Glossary li.treeitem .GlossDefinition, body.media-landscape div.idx-holder div.Index li.treeitem .GlossDefinition, body.media-landscape div.glo-holder div.Glossary li.treeitem .GlossDefinition, body.media-mobile div.idx-holder div.Index li.treeitem .GlossDefinition:hover, body.media-mobile div.glo-holder div.Glossary li.treeitem .GlossDefinition:hover, body.media-landscape div.idx-holder div.Index li.treeitem .GlossDefinition:hover, body.media-landscape div.glo-holder div.Glossary li.treeitem .GlossDefinition:hover { margin-top: .75em; margin-bottom: .75em; }
body.media-mobile div.idx-holder div.Index li.treeitem .IndexChildBlock, body.media-mobile div.glo-holder div.Glossary li.treeitem .IndexChildBlock, body.media-landscape div.idx-holder div.Index li.treeitem .IndexChildBlock, body.media-landscape div.glo-holder div.Glossary li.treeitem .IndexChildBlock { margin-top: 0; margin-bottom: 0; }

body.media-mobile div.filter-holder, body.media-landscape div.filter-holder, body.media-desktop div.filter-holder { padding-left: .25em; width: calc(100% - .25em); }
body.media-mobile div.filter-holder p.filter-title, body.media-landscape div.filter-holder p.filter-title, body.media-desktop div.filter-holder p.filter-title { display: block; font-weight: bold; padding: 0 0 .75em 0; border-bottom-style: solid; border-bottom-width: .1em; width: 100%; }
body.media-mobile div.filter-holder p.filter-expression-message, body.media-landscape div.filter-holder p.filter-expression-message, body.media-desktop div.filter-holder p.filter-expression-message { margin: 0.75em 0 0.2em 0.2em; }
body.media-mobile div.filter-holder ul, body.media-landscape div.filter-holder ul, body.media-desktop div.filter-holder ul { list-style: none; margin: 0; padding: 0; }
body.media-mobile div.filter-holder ul li, body.media-landscape div.filter-holder ul li, body.media-desktop div.filter-holder ul li { min-height: 1.3em; line-height: 1.2em; margin: 0.75em 0 0.1em 0; }
body.media-mobile div.filter-holder ul li li, body.media-landscape div.filter-holder ul li li, body.media-desktop div.filter-holder ul li li { font-weight: normal; margin-top: .3em; font-size: 100%; }
body.media-mobile div.filter-holder input, body.media-landscape div.filter-holder input, body.media-desktop div.filter-holder input { opacity: 0; width: 1em; }
body.media-mobile div.filter-holder label, body.media-landscape div.filter-holder label, body.media-desktop div.filter-holder label { display: block; padding: 0.5em 0.5em 0.5em 2.5em; }

body.media-mobile div.filter-holder { width: 100%; padding-left: 0; }

body.media-desktop div.filter-holder > p { font-size: 1.4em; }
body.media-desktop div.filter-holder > ul { font-size: 1.4em; }
body.media-desktop div.filter-holder > ul * { font-size: 100%; }

div.searchresults { padding-left: 2em; padding-right: 1em; }
div.searchresults .wSearchResultSettings { /* EDIT: Removed display: none; and added margins */ margin-bottom: 0.5em; margin-top: -0.3em;}
div.searchresults .wSearchMessage { font-size: 1em; margin-bottom: .3em; }
div.searchresults .wSearchResultItem { margin: 1em 0; }
div.searchresults .wSearchResultItem a.nolink { text-decoration: none; }
div.searchresults .wSearchResultItem a.nolink:hover, div.searchresults .wSearchResultItem a.nolink:active { text-decoration: underline; }
div.searchresults .wSearchResultItem a.nolink div.wSearchResultTitle, div.searchresults .wSearchResultItem a.nolink div.wSearchResultTitleHover { font-size: 1.25em; margin-bottom: .25em; word-wrap: break-word; }
div.searchresults .wSearchResultItem div.wSearchContext { font-size: 1em; }
div.searchresults .wSearchResultItem div.wSearchURL { margin-top: .5em; font-size: .75em; word-wrap: break-word; }
div.searchresults p.progressbar { text-align: center; }

body.media-mobile div.searchbar input, body.media-landscape div.searchbar input, body.media-desktop div.searchbar input { width: 98%; margin: .6em 1% .3em; /* EDIT: Decreased height and max-height */ height: 2.6em; max-height: 2.6em; padding: 0 0.3em 0 0.5em; font-size: 100%; -webkit-appearance: none; -webkit-border-radius: 0.5em; -moz-border-radius: 0.5em; border-radius: 0.5em; }
body.media-mobile div.searchbar input:focus, body.media-landscape div.searchbar input:focus, body.media-desktop div.searchbar input:focus { outline: none; }
body.media-mobile div.searchbar input::-webkit-input-placeholder, body.media-landscape div.searchbar input::-webkit-input-placeholder, body.media-desktop div.searchbar input::-webkit-input-placeholder { font-style: italic; padding-left: .5em; }
body.media-mobile div.searchbar input:-moz-placeholder, body.media-landscape div.searchbar input:-moz-placeholder, body.media-desktop div.searchbar input:-moz-placeholder { font-style: italic; padding-left: .5em; }
body.media-mobile div.searchbar input::-moz-placeholder, body.media-landscape div.searchbar input::-moz-placeholder, body.media-desktop div.searchbar input::-moz-placeholder { font-style: italic; padding-left: .5em; }
body.media-mobile div.searchbar input::-ms-input-placeholder, body.media-landscape div.searchbar input::-ms-input-placeholder, body.media-desktop div.searchbar input::-ms-input-placeholder { font-style: italic; padding-left: .5em; }

.search-suggestion { margin-left: 0; padding: .25em; font-size: 1.4em; line-height: 1.2em; cursor: pointer; }
.search-suggestion .search-text, .search-suggestion .search-count { display: inline; }
.search-suggestion .search-count { float: right; background-color: #acacac; border-radius: .2rem; padding: .1rem .3rem; }
.search-suggestion .topic-icon, .search-suggestion .count-number { display: inline-block; vertical-align: middle; }
.search-suggestion .topic-icon { min-width: 1rem; min-height: 1rem; background-image: url("basler_search.svg"); background-repeat: no-repeat; background-position: center center; background-size: auto; }

body.media-mobile div.filter-holder ul, body.media-landscape div.filter-holder ul, body.media-desktop div.filter-holder ul, body.media-mobile div.filter-holder label, body.media-landscape div.filter-holder label, body.media-desktop div.filter-holder label, .unselectable, div.functionbar, div.topic div.functionholder, body.media-mobile div.mobilespecialfunctions, body.media-mobile div.searchbar.layout-visible, body.media-mobile div.functionbar, body.media-mobile div.filter-holder div.mobile-filter-heading, body.media-desktop div.searchbar-extra a.wSearchLink, body.media-desktop div.searchbar-extra div.searchAND.layout-visible label { -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

* { -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }

a { -webkit-tap-highlight-color: transparent; }

/********
*
*	Webkit scrolling bug
*
********/
body.ios { /* avoid text zoom on orientation change on iOS */ -webkit-text-size-adjust: none; }

body.media-mobile div.toc-holder, body.media-mobile div.idx-holder, body.media-mobile div.glo-holder, body.media-mobile.ios div.topic, body.media-landscape.ios div.topic { -webkit-overflow-scrolling: touch; overflow-y: scroll !important; }

/********
*
*	Hide and show. We use a custom hiding/loading scheme because data-if sets display to none. We can't animate that.
*
********/
div.filter-holder a.reset-button, body.media-mobile div.toc-holder, body.media-mobile div.idx-holder, body.media-mobile div.glo-holder, body.media-mobile div.filter-holder, body.media-mobile div.searchbar, body.media-mobile div.searchresults, body.media-landscape div.toc-holder, body.media-landscape div.idx-holder, body.media-landscape div.glo-holder, body.media-landscape div.filter-holder, body.media-landscape div.searchbar, body.media-landscape div.searchresults, body.media-desktop div.toc-holder, body.media-desktop div.idx-holder, body.media-desktop div.glo-holder, body.media-desktop div.filter-holder, body.media-desktop div.searchbar, body.media-desktop div.searchbar-extra div.searchAND, body.media-desktop div.searchresults { max-height: 0px; overflow: hidden; opacity: 0; -o-transition-duration: 0.35s; -o-transition-timing-function: ease-out; -o-transition-property: opacity; -ms-transition-duration: 0.35s; -ms-transition-timing-function: ease-out; -ms-transition-property: opacity; -moz-transition-duration: 0.35s; -moz-transition-timing-function: ease-out; -moz-transition-property: opacity; -webkit-transition-duration: 0.35s; -webkit-transition-timing-function: ease-out; -webkit-transition-property: opacity; transition-duration: 0.35s; transition-timing-function: ease-out; transition-property: opacity; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; backface-visibility: hidden; -webkit-perspective: 1000; -moz-perspective: 1000; -ms-perspective: 1000; perspective: 1000; z-index: 0; }

.layout-visible { max-height: 10000em !important; -o-transition-duration: 0.35s; -o-transition-timing-function: ease-out; -o-transition-property: opacity; -ms-transition-duration: 0.35s; -ms-transition-timing-function: ease-out; -ms-transition-property: opacity; -moz-transition-duration: 0.35s; -moz-transition-timing-function: ease-out; -moz-transition-property: opacity; -webkit-transition-duration: 0.35s; -webkit-transition-timing-function: ease-out; -webkit-transition-property: opacity; transition-duration: 0.35s; transition-timing-function: ease-out; transition-property: opacity; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; backface-visibility: hidden; -webkit-perspective: 1000; -moz-perspective: 1000; -ms-perspective: 1000; perspective: 1000; opacity: 1 !important; }

/********
*
*	Loading image
*
********/
.loading { background-image: url("loading.gif") !important; min-height: 1.25in !important; background-repeat: no-repeat !important; background-position: center .25in !important; background-size: 1in 1in !important; }

div.topic-state { position: absolute; top: 25%; width: 100%; }

div.topic-state.loading { bottom: 0; background-position: center 25%; }

.hide-children * { display: none !important; }

/********
*
*	Global elements
*
********/
body { font-family: Roboto, Arial, sans-serif; margin: 0; padding: 0; background: #ffffff; overflow: hidden; /* EDIT: Added color */ color: #303030; }

/* EDIT: Added linear gradient */ div.header { color: #ffffff; background: #15487f; background: linear-gradient(to right, #15487f, #15487f 97em, white); }
div.header div.logo { background-color: transparent; cursor: pointer; background-image: url("basler_logo.svg"); background-repeat: no-repeat; background-position: center center; background-size: contain; }

div.functionbar { overflow: visible; }
div.functionbar div.nav a { background-color: transparent; text-decoration: none !important; -o-transition-duration: 0.35s; -o-transition-timing-function: ease-out; -o-transition-property: background-color; -ms-transition-duration: 0.35s; -ms-transition-timing-function: ease-out; -ms-transition-property: background-color; -moz-transition-duration: 0.35s; -moz-transition-timing-function: ease-out; -moz-transition-property: background-color; -webkit-transition-duration: 0.35s; -webkit-transition-timing-function: ease-out; -webkit-transition-property: background-color; transition-duration: 0.35s; transition-timing-function: ease-out; transition-property: background-color; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; backface-visibility: hidden; -webkit-perspective: 1000; -moz-perspective: 1000; -ms-perspective: 1000; perspective: 1000; border-top-width: 0.1em; border-top-style: solid; border-top-color: transparent; border-bottom-width: 0.1em; border-bottom-style: solid; border-bottom-color: transparent; border-left-width: 0.1em; border-left-style: solid; border-left-color: transparent; border-right-width: 0.1em; border-right-style: solid; border-right-color: transparent; -o-transition-duration: 0.35s; -o-transition-timing-function: ease-out; -o-transition-property: border-color; -ms-transition-duration: 0.35s; -ms-transition-timing-function: ease-out; -ms-transition-property: border-color; -moz-transition-duration: 0.35s; -moz-transition-timing-function: ease-out; -moz-transition-property: border-color; -webkit-transition-duration: 0.35s; -webkit-transition-timing-function: ease-out; -webkit-transition-property: border-color; transition-duration: 0.35s; transition-timing-function: ease-out; transition-property: border-color; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; backface-visibility: hidden; -webkit-perspective: 1000; -moz-perspective: 1000; -ms-perspective: 1000; perspective: 1000; }

a.filter { -o-transition-duration: 0.35s; -o-transition-timing-function: ease-out; -o-transition-property: background-image; -ms-transition-duration: 0.35s; -ms-transition-timing-function: ease-out; -ms-transition-property: background-image; -moz-transition-duration: 0.35s; -moz-transition-timing-function: ease-out; -moz-transition-property: background-image; -webkit-transition-duration: 0.35s; -webkit-transition-timing-function: ease-out; -webkit-transition-property: background-image; transition-duration: 0.35s; transition-timing-function: ease-out; transition-property: background-image; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; backface-visibility: hidden; -webkit-perspective: 1000; -moz-perspective: 1000; -ms-perspective: 1000; perspective: 1000; }

div.functions { overflow: auto; }

div.mobilespecialfunctions { display: none; background-color: #ffffff; }

div.sidebarsizer { display: none; }

div.searchbar { background-color: #f0f0f0; background-color: #fcfcfc; overflow: visible; }
div.searchbar .mobile_back, div.searchbar .mobile_filter { display: none; }

.searchbar.left-pane.search-content.searchpage-mode.layout-visible { height: 3.1em; overflow: visible; }

div.searchresults { background-color: #ffffff; bottom: 0; }

div.topic { background-color: #ffffff; }
div.topic div.functionholder { display: none; }

iframe.topic { border: none; width: 100%; height: 100%; }

/********
*
*	Widget initialisation. The widgets are loaded for all media.
*	Also, colours for the widgets are specified here so we keep the included scss free of layout settings
*
********/
div.Index, div.Glossary { /* EDIT: Changed this and all following color definitions from 000000 to 303030 */ color: #303030; }
div.Index input, div.Glossary input { color: #303030; border-top-width: 0.1em; border-top-style: solid; border-top-color: #cccccc; border-bottom-width: 0.1em; border-bottom-style: solid; border-bottom-color: #cccccc; border-left-width: 0.1em; border-left-style: solid; border-left-color: #cccccc; border-right-width: 0.1em; border-right-style: solid; border-right-color: #cccccc; }
div.Index .IndexAlphabet, div.Index .GloAlphabet, div.Glossary .IndexAlphabet, div.Glossary .GloAlphabet { color: #2461a4; border-color: #e6e6e6; }
/* div.Index .IndexLink, div.Glossary .IndexLink { background-image: url("idx_topic.png"); background-repeat: no-repeat; background-position: left center; background-size: auto; min-height: .9em !important; line-height: 1.25em !important; margin-top: .3em !important; margin-bottom: .3em !important; } */
div.Index span.GlossDefinitionText, div.Glossary span.GlossDefinitionText { color: #303030; }

div.search-suggestion:hover { background-color: #f0f0f0; }

div.searchresults { padding-top: 1em; }
div.searchresults div.search-alert { color: #303030; }
div.searchresults .wSearchMessage { color: #929292; }
div.searchresults a { color: #1268B8; }
div.searchresults span.wSearchContext { color: #303030; }
div.searchresults span.wSearchURL { color: #929292; }
div.searchresults label.wSearchAndLabelResults { display: block; margin-bottom: .75em; padding-top: .75em; padding-bottom: .75em; padding-left: 1.75em; }
/*div.searchresults label.wSearchAndLabelResults.active { background-image: url("andsearch_mark.png"); }*/

div.toc-holder li { color: #303030; }
div.toc-holder li.selected { color: #2461a4; border-left-color: #2461a4; }

body.media-mobile div.drill-down.toc-holder li.book.expanded, body.media-landscape div.drill-down.toc-holder li.book.expanded { background-image: url("basler_toc_book_closed.svg"); background-repeat: no-repeat; background-position: 0.6em 0.8em; background-size: 0.9375em 0.9375em; }
body.media-mobile div.drill-down.toc-holder li.book.active, body.media-landscape div.drill-down.toc-holder li.book.active { background-image: url("toc_book_open_drildown.png"); background-repeat: no-repeat; background-position: 0.6em 0.8em; background-size: 0.9375em 0.9375em; }
body.media-mobile div.drill-down.toc-holder ul li.selected, body.media-landscape div.drill-down.toc-holder ul li.selected { padding-left: 1.8em !important; }
/* EDIT: Changed 4x background-size */
body.media-mobile div.toc-holder ul li.book, body.media-landscape div.toc-holder ul li.book { background-image: url("basler_toc_book_closed.svg"); background-repeat: no-repeat; background-position: 0.6em 0.8em; background-size: 15px; }
body.media-mobile div.toc-holder ul li.expanded, body.media-landscape div.toc-holder ul li.expanded { background-image: url("basler_toc_book_open.svg"); background-repeat: no-repeat; background-position: 0.6em 0.8em; background-size: 15px; }
body.media-mobile div.toc-holder ul li.item, body.media-landscape div.toc-holder ul li.item { background-image: url("basler_toc_topic.svg"); background-repeat: no-repeat; background-position: 0.6em 0.8em; background-size: 15px; }
body.media-mobile div.toc-holder ul li.url, body.media-landscape div.toc-holder ul li.url { background-image: url("basler_external_link.svg"); background-repeat: no-repeat; background-position: 0.6em 0.8em; background-size: 15px; }

/* EDIT: Changed 4x background-position (vertical), 4x background-size */
body.media-desktop div.toc-holder ul li.book { padding-left: 2.15em; background-image: url("basler_toc_book_closed.svg"); background-repeat: no-repeat; background-position: 0.5em 0.3em; background-size: 15px; }
body.media-desktop div.toc-holder ul li.expanded { padding-left: 2.15em; background-image: url("basler_toc_book_open.svg"); background-repeat: no-repeat; background-position: 0.5em 0.3em; background-size: 15px; }
body.media-desktop div.toc-holder ul li.item { padding-left: 2.15em; background-image: url("basler_toc_topic.svg"); background-repeat: no-repeat; background-position: 0.5em 0.3em; background-size: 15px; }
body.media-desktop div.toc-holder ul li.url { padding-left: 2.15em; background-image: url("basler_external_link.svg"); background-repeat: no-repeat; background-position: 0.5em 0.3em; background-size: 15px; }

div.filter-holder a.reset-button { cursor: pointer; background-image: url("basler_filter_clearall.svg"); background-repeat: no-repeat; background-position: center center; background-size: 60% auto; }
div.filter-holder p.filter-title { color: #303030; border-bottom-color: #e6e6e6; /* EDIT: Added padding-left */ padding-left: 0.5em !important; }
div.filter-holder p.filter-expression-message { color: #303030; }
div.filter-holder ul.wFltOpts { position: absolute; top: 2.75em; bottom: 0; left: 0; width: 100%; overflow: auto; }
/* div.filter-holder ul.wFltOpts.checkbox label { background-image: url("filter_nomark.png"); background-repeat: no-repeat; background-position: 0.8em 0.75em; background-size: 1em 1em; } */
/* div.filter-holder ul.wFltOpts.checkbox label.checked { background-image: url("filter_mark.png"); background-repeat: no-repeat; background-position: 0.8em 0.75em; background-size: 1em 1em; } */
div.filter-holder ul.wFltOpts.radio label { background-image: url("filter_nomark_radio.png"); background-repeat: no-repeat; background-position: 0.8em 0.6em; background-size: 1em 1em; }
div.filter-holder ul.wFltOpts.radio label.checked { background-image: url("filter_mark_radio.png"); background-repeat: no-repeat; background-position: 0.8em 0.6em; background-size: 1em 1em; }
div.filter-holder ul.wFltOpts label { /*EDIT: Changed color */ color: #303030; }
div.filter-holder ul.wFltOpts label.tag-parent { background-color: #eeeeee; background-image: none !important; font-weight: bold; /* EDIT: Added padding-left */ padding-left: 0.7em; }
div.filter-holder ul.wFltOpts label.title { padding-left: 1.5em; }
div.filter-holder ul.wFltOpts input { position: absolute; width: 0px; height: 0px; }
div.filter-holder ul.wFltOpts input:focus + label { outline-style: dashed; outline-width: thin; }

input.wSearchField { /*EDIT: Added font-family, font-size */ font-family: inherit; border-top-width: 0.1em; border-top-style: solid; border-top-color: #cccccc; border-bottom-width: 0.1em; border-bottom-style: solid; border-bottom-color: #cccccc; border-left-width: 0.1em; border-left-style: solid; border-left-color: #cccccc; border-right-width: 0.1em; border-right-style: solid; border-right-color: #cccccc; }

div.social_buttons { -o-transition-duration: 0.35s; -o-transition-timing-function: ease-out; -o-transition-property: width, border-radius; -ms-transition-duration: 0.35s; -ms-transition-timing-function: ease-out; -ms-transition-property: width, border-radius; -moz-transition-duration: 0.35s; -moz-transition-timing-function: ease-out; -moz-transition-property: width, border-radius; -webkit-transition-duration: 0.35s; -webkit-transition-timing-function: ease-out; -webkit-transition-property: width, border-radius; transition-duration: 0.35s; transition-timing-function: ease-out; transition-property: width, border-radius; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; backface-visibility: hidden; -webkit-perspective: 1000; -moz-perspective: 1000; -ms-perspective: 1000; perspective: 1000; font-size: 1.6em; background-color: #ffffff; position: fixed; bottom: .8em; right: 0; z-index: 5000; height: 1.6em; width: 1.6em; border-left-width: 0.05em; border-left-style: solid; border-left-color: #3079D7; border-top-width: 0.05em; border-top-style: solid; border-top-color: #3079D7; border-bottom-width: 0.05em; border-bottom-style: solid; border-bottom-color: #3079D7; -webkit-border-top-left-radius: 0.5em; -moz-border-radius-topleft: 0.5em; border-top-left-radius: 0.5em; -webkit-border-bottom-left-radius: 0.5em; -moz-border-radius-bottomleft: 0.5em; border-bottom-left-radius: 0.5em; }
/* div.social_buttons a.social_buttons_controller { display: block; height: 100%; width: 1.6em; cursor: pointer; background: transparent url("social_open.png") no-repeat 0.5em center; background-size: 1em 1em; float: left; } */
div.social_buttons div { height: 100%; float: left; }
div.social_buttons div.fb-button, div.social_buttons div.twitter-button { display: none; }
div.social_buttons.opened { width: 25em; max-width: 100%; overflow: hidden; padding: 0; background: #ffffff; -webkit-border-top-left-radius: 0; -moz-border-radius-topleft: 0; border-top-left-radius: 0; -webkit-border-bottom-left-radius: 0; -moz-border-radius-bottomleft: 0; border-bottom-left-radius: 0; }
/* div.social_buttons.opened a.social_buttons_controller { background-image: url("social_close_ltr.png"); background-size: auto 50%; max-width: 2em; width: 20%; cursor: pointer; padding: 0; margin: 0; } */
div.social_buttons.opened div { padding: 0; margin: 0; }
div.social_buttons.opened div iframe { width: 100% !important; }
div.social_buttons.opened div.fb-button { display: block; max-width: 7.5em; width: 40%; padding-top: .4em; /* Will be overwritten for desktop */ }
div.social_buttons.opened div.twitter-button { display: block; max-width: 7.5em; width: 40%; padding-top: .21em; /* Will be overwritten for desktop */ }

/********
*
*	Wireframe
*
********/
body.media-mobile { /* We need to fix the position of the body to make sure the menu works on Android in RTL languages. EDIT: Removed position: fixed;*/ top: 0; left: 0; right: 0; bottom: 0; font-size: 100%; /* 2x prescribed margin + default image width */ }body.media-mobile div.mobilespecialfunctions, body.media-mobile div.searchbar.layout-visible, body.media-mobile div.functionbar { top: 0; }
body.media-mobile div.mobile-header-visible.mobilespecialfunctions, body.media-mobile div.mobile-header-visible.searchbar.layout-visible, body.media-mobile div.mobile-header-visible.functionbar { top: 3.125em; }
body.media-mobile div.mobilespecialfunctions, body.media-mobile div.searchbar.layout-visible { display: block; position: absolute; left: 0; -o-transition-duration: 0.5s; -o-transition-timing-function: ease-out; -o-transition-property: left; -ms-transition-duration: 0.5s; -ms-transition-timing-function: ease-out; -ms-transition-property: left; -moz-transition-duration: 0.5s; -moz-transition-timing-function: ease-out; -moz-transition-property: left; -webkit-transition-duration: 0.5s; -webkit-transition-timing-function: ease-out; -webkit-transition-property: left; transition-duration: 0.5s; transition-timing-function: ease-out; transition-property: left; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; backface-visibility: hidden; -webkit-perspective: 1000; -moz-perspective: 1000; -ms-perspective: 1000; perspective: 1000; z-index: 5; -webkit-transform: translateZ(0); height: 3.1em; width: 100%; /* EDIT: Changed min-width */ min-width: 20em; padding-top: 0.75em; padding-left: 0.6em; padding-right: 0.6em; border-bottom-width: 0.1em; border-bottom-style: solid; border-bottom-color: #e6e6e6; }
body.media-mobile div.mobile-header-visible.mobilespecialfunctions, body.media-mobile div.mobile-header-visible.searchbar.layout-visible { top: 3.125em; /* EDIT: Added padding-top */ padding-top: 1em; }
body.media-mobile div.toc-holder, body.media-mobile div.idx-holder, body.media-mobile div.glo-holder, body.media-mobile div.filter-holder, body.media-mobile div.searchresults.layout-visible, body.media-mobile div.topic { position: absolute; /* Positioning for when the header is hidden (default) or visible. */ top: 3.1em; left: 0; bottom: 0; width: 100%; padding-top: 0em; padding-left: 0.25em; padding-right: 0.25em; padding-bottom: 0; -o-transition-duration: 0.5s; -o-transition-timing-function: ease-out; -o-transition-property: left; -ms-transition-duration: 0.5s; -ms-transition-timing-function: ease-out; -ms-transition-property: left; -moz-transition-duration: 0.5s; -moz-transition-timing-function: ease-out; -moz-transition-property: left; -webkit-transition-duration: 0.5s; -webkit-transition-timing-function: ease-out; -webkit-transition-property: left; transition-duration: 0.5s; transition-timing-function: ease-out; transition-property: left; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; backface-visibility: hidden; -webkit-perspective: 1000; -moz-perspective: 1000; -ms-perspective: 1000; perspective: 1000; }
body.media-mobile div.mobile-header-visible.toc-holder, body.media-mobile div.mobile-header-visible.idx-holder, body.media-mobile div.mobile-header-visible.glo-holder, body.media-mobile div.mobile-header-visible.filter-holder, body.media-mobile div.mobile-header-visible.topic { top: 6.225em; }
/* EDIT: Added lower top value when search bar is visible in mobile layout */
body.media-mobile div.mobile-header-visible.searchresults.layout-visible { top: 3.225em }
body.media-mobile div.toc-holder, body.media-mobile div.idx-holder, body.media-mobile div.glo-holder { width: 85%; border-right-width: 0.1em; border-right-style: solid; border-right-color: #e6e6e6; }
body.media-mobile div.toc-holder input + *, body.media-mobile div.idx-holder input + *, body.media-mobile div.glo-holder input + * { margin-top: 1.2em; }
body.media-mobile div.sidebar-opened.mobilespecialfunctions, body.media-mobile div.sidebar-opened.filter-holder, body.media-mobile div.sidebar-opened.searchbar.layout-visible, body.media-mobile div.sidebar-opened.topic { left: 85%; }
body.media-mobile div.idx-holder input, body.media-mobile div.glo-holder input, body.media-mobile div.searchbar input { font-size: 16px !important; height: 2em !important; }
body.media-mobile div.header { display: none; }
body.media-mobile div.header.mobile-header-visible { display: block; height: 3.125em; width: 100%; padding-top: 0.75em; }
body.media-mobile div.header div { height: 1.625em; }
body.media-mobile div.header div.logo { float: left; /* EDIT: Changed width + removed margin-left */ width:150px; margin-right: 1.625em; }
body.media-mobile div.header div.title { /* EDIT: Changed top, left, font-size, added font-weight, min-width */ line-height: 100%; font-size: 1em; font-weight: 300; min-width: 10.5em; overflow: auto; position: absolute; top: 1.33em; left: 9.1em; right: 0; }
body.media-mobile div.header div a { display: block; width: 100%; height: 100%; text-decoration: none; cursor: pointer; }
body.media-mobile div.header div a.brs_next, body.media-mobile div.header div a.brs_previous { display: none; }
body.media-mobile div.mobilespecialfunctions.searchpage-mode { display: none; /* Hide in searchpage mode to avoid buttons being selectable when searchbar is shown over this bar. */ }
body.media-mobile div.mobilespecialfunctions div.brs-holder { float: right; }
body.media-mobile div.mobilespecialfunctions div.brs_next, body.media-mobile div.mobilespecialfunctions div.brs_previous { float: left; height: 1.625em; width: 1.625em; margin-left: 0.75em; }
body.media-mobile div.mobilespecialfunctions div.brs_next a, body.media-mobile div.mobilespecialfunctions div.brs_previous a { margin-right: 0; }
body.media-mobile div.mobilespecialfunctions div.brs_next { margin-right: 0.35em; }
body.media-mobile div.mobilespecialfunctions div.brs_previous { margin-left: 0; }
body.media-mobile div.mobilespecialfunctions a { display: block; cursor: pointer; height: 100%; width: 2.4375em; float: left; text-decoration: none; margin-right: 5%; background-color: transparent; }
body.media-mobile div.mobilespecialfunctions a:active { background-color: transparent; }
/* EDIT: Changed 4x background-size */
body.media-mobile div.mobilespecialfunctions a.menubutton { background-image: url("basler_toc.svg"); background-repeat: no-repeat; background-position: left top; background-size: 22px; }
body.media-mobile div.mobilespecialfunctions a.fts { background-image: url("basler_search.svg"); background-repeat: no-repeat; background-position: left top; background-size: 22px; }
body.media-mobile div.mobilespecialfunctions a.filter { background-image: url("basler_filter.svg"); background-repeat: no-repeat; background-position: left top; background-size: 22px; margin-right: 0; background-position: .1em 0em; }
body.media-mobile div.mobilespecialfunctions a.filter.filter-applied { /* EDIT: Aligned filter and filter-applied */ background-image: url("basler_filter.svg"); background-repeat: no-repeat; background-position: left top; background-size: 1.4em; margin-right: 0; background-position: .1em 0em; }
body.media-mobile div.mobilespecialfunctions a.wBSNextButton { background-image: url("next_mobile.png"); background-repeat: no-repeat; background-position: left top; background-size: 1.625em; }
body.media-mobile div.mobilespecialfunctions a.wBSNextButton:active { background-image: url("next_mobile_active.png"); background-repeat: no-repeat; background-position: left top; background-size: 1.625em; }
body.media-mobile div.mobilespecialfunctions a.wBSBackButton { background-image: url("previous_mobile.png"); background-repeat: no-repeat; background-position: left top; background-size: 1.625em; }
body.media-mobile div.mobilespecialfunctions a.wBSBackButton:active { background-image: url("previous_mobile_active.png"); background-repeat: no-repeat; background-position: left top; background-size: 1.625em; }
body.media-mobile div.functionbar { /* EDIT: Added display: none */ display: none; background-color: #f0f0f0; position: absolute; left: 0; height: 3.1em; width: 85%; padding-top: 0.75em; padding-left: 0.6em; padding-right: 0.6em; border-bottom-width: 0.1em; border-bottom-style: solid; border-bottom-color: #e6e6e6; border-bottom-width: 0.01em; border-right-width: 0.1em; border-right-style: solid; border-right-color: #e6e6e6; }
body.media-mobile div.functionbar.searchpage-mode { display: none; /* Hide in searchpage mode to avoid buttons being selectable when searchbar is shown over this bar. */ }
body.media-mobile div.functionbar div.nav { padding-left: 0.25em; min-width: 13.15em; }
body.media-mobile div.functionbar div.nav a { float: left; display: block; width: 3.8em; height: 2.625em; margin-right: 0.25em; cursor: pointer; -webkit-border-top-left-radius: 1em; -moz-border-radius-topleft: 1em; border-top-left-radius: 1em; -webkit-border-top-right-radius: 1em; -moz-border-radius-topright: 1em; border-top-right-radius: 1em; }
body.media-mobile div.functionbar div.nav a.active { background-color: #ffffff; }
body.media-mobile div.functionbar div.nav a.toc { background-image: url("basler_toc.svg"); background-repeat: no-repeat; background-position: center center; background-size: 1.9375em 1.25em; }
/* body.media-mobile div.functionbar div.nav a.idx { background-image: url("index_mobile.png"); background-repeat: no-repeat; background-position: center center; background-size: 1.9375em 1.4375em; } */
/* body.media-mobile div.functionbar div.nav a.glo { background-image: url("glossary_mobile.png"); background-repeat: no-repeat; background-position: center center; background-size: 1.875em 1.25em; } */
body.media-mobile div.functionbar div.nav a.filter { display: none; }
body.media-mobile div.functionbar div.nav a.fts { display: none; }
body.media-mobile div.toc-holder { padding-left: 2.75em; }
body.media-mobile div.toc-holder.drill-down ul li.collapsing { -ms-animation-name: drill-down-up-mobile; -ms-animation-duration: 0.5s; -moz-animation-name: drill-down-up-mobile; -moz-animation-duration: 0.5s; -webkit-animation-name: drill-down-up-mobile; -webkit-animation-duration: 0.5s; animation-name: drill-down-up-mobile; animation-duration: 0.5s; }
body.media-mobile div.searchbar { bottom: auto !important; }
body.media-mobile div.filter-holder { top: 0; padding: 0; background: #ffffff; }
body.media-mobile div.filter-holder > a.reset-button { display: none; }
body.media-mobile div.filter-holder div.mobile-filter-heading { height: 2.5em; width: 100%; padding-left: 2.5%; padding-right: 0.6em; border-bottom-width: 0.1em; border-bottom-style: solid; border-bottom-color: #e6e6e6; }
body.media-mobile div.filter-holder div.mobile-filter-heading a.mobile_back, body.media-mobile div.filter-holder div.mobile-filter-heading a.reset-button { display: inline-block; height: 1.625em; cursor: pointer; width: 7%; margin: 0.8em 0 0 0; }
body.media-mobile div.filter-holder div.mobile-filter-heading a.mobile_back { float: right; margin-left: 2%; background-image: url("back_mobile_filter.png"); background-repeat: no-repeat; background-position: center center; background-size: 1.375em 1.0625em; }
body.media-mobile div.filter-holder div.mobile-filter-heading a.reset-button { float: left; margin-right: 2%; background-image: url("basler_filter_clearall.svg"); background-repeat: no-repeat; background-position: center center; background-size: 1.375em 1.125em; width: 8%; }
body.media-mobile div.filter-holder div.mobile-filter-heading div.page-title { position: absolute; top: 0.2em; left: 10%; right: 10%; height: 2em; line-height: 2em; padding: 0; color: #303030; text-align: center; overflow: auto; }
body.media-mobile div.filter-holder div.mobile-filter-heading div.page-title span { font-weight: bold; font-size: 1.1em; }
body.media-mobile div.filter-holder.layout-visible { z-index: 50; /* Make sure we are on top. */ }
body.media-mobile div.filter-holder ul.wFltOpts { top: 3.1em; }
body.media-mobile div.searchbar.layout-visible { background: #ffffff; z-index: 100; }
body.media-mobile div.searchbar.layout-visible a { display: inline-block; height: 1.625em; cursor: pointer; margin-right: 0.6em; text-decoration: none !important; float: left; margin: 0 2% 0 0; }
body.media-mobile div.searchbar.layout-visible a.mobile_back { background-image: url("back_mobile_ltr.png"); background-repeat: no-repeat; background-position: center center; background-size: 1.1875em 1.125em; width: 7%; }
body.media-mobile div.searchbar.layout-visible a.mobile_filter { width: 10%; min-width: 2em; margin-right: 0; float: right; width: 10%; min-width: 2em; background-image: url("basler_filter.svg"); background-repeat: no-repeat; background-position: center center; background-size: contain; }
body.media-mobile div.searchbar.layout-visible a.mobile_filter.filter-applied { /* EDIT: Changed background image */ width: 10%; min-width: 2em; background-image: url("basler_filter.svg"); background-repeat: no-repeat; background-position: center center; background-size: contain; }
body.media-mobile div.searchbar.layout-visible a.wSearchLink { /* EDIT: Added margin-left */ margin-left: 0.3em; width: 10%; min-width: 2em; width: 10%; min-width: 2em; background-image: url("basler_search.svg"); background-repeat: no-repeat; background-position: center center; background-size: contain; }
/* body.media-mobile div.searchbar.layout-visible a.wSearchLink:active { width: 10%; min-width: 2em; background-image: url("search_mobile_active.png"); background-repeat: no-repeat; background-position: center center; background-size: contain; } */
body.media-mobile div.searchbar input { float: left; /* EDIT: Set margin-left to 0 */ margin: -0.2em -3px 0 0; }
body.media-mobile div.searchbar input.no-filter { /* There is no filter, fix the alignment */ margin: -0.2em 5% 0 5%; }
body.media-mobile div.searchresults.layout-visible { z-index: 10; overflow-x: hidden; overflow-y: auto; padding: 0.6em 0.85em 0 0.85em; }
body.media-mobile div.searchresults.layout-visible .search-alert { margin-bottom: 0.6em; }
body.media-mobile div.searchresults.layout-visible .wSearchResultItem { padding-bottom: .5em; margin-bottom: .5em; border-bottom-width: 0.1em; border-bottom-style: solid; border-bottom-color: #e6e6e6; }
/* body.media-mobile div.searchresults.layout-visible label.wSearchAndLabelResults { background-image: url("andsearch_nomark.png"); background-repeat: no-repeat; background-position: 0.4em 1em; background-size: auto 0.8em; } */
/* body.media-mobile div.searchresults.layout-visible label.wSearchAndLabelResults.active { background-image: url("andsearch_mark.png"); } */
body.media-mobile div.topic div.topic-state.loading { top: 3.1em; }

div.searchbar { bottom: auto !important; z-index: 100 !important; }

.search-suggestion { margin-left: 0; padding: .25rem; font-size: 0.9rem; clear: left; line-height: 1.5rem; cursor: pointer; }

/* .search-suggestion .search-delete { background-image: url("remove.png"); background-repeat: no-repeat; background-position: center center; background-size: contain; height: 1.1em; width: 1.0em; } */

.search-delete:hover { background-color: #acacac; }

.search-suggestion .topic-icon, .search-suggestion .count-number { width: .5rem; height: 0.5rem; color: #ffffff; }

.search-suggestion .topic-icon { width: 1.5rem; height: 1.2rem; background-image: url("basler_search.svg"); background-repeat: no-repeat; background-position: center center; background-size: contain; padding-top: .05rem; margin: auto; }

.search_bar_top { z-index: 100 !important; }

.search-input-open { /* EDIT: Changed box shadow color */ box-shadow: 0.1rem 0.1rem 0.5rem #606060; }

.searchbar-mobile .search-input { margin-right: 5%; margin-bottom: 0px; margin-left: 5%; /* EDIT: Decreased width and added padding-top */ width: 50%; padding-top: 3px; float: left; }
.searchbar-mobile .search-input input { /* EDIT: Decreased width */ width: 75% !important; }
.searchbar-mobile .search-list { /* EDIT: Set margin-left to 0 and removed duplicate width entry */ margin-left: 0; padding-right: 0.4rem; width: 100%; background-color: #fcfcfc; }

.search-list table { width: 100%; border-spacing: 0; }
.search-list table .search-table-desktop { width: 100%; }
.search-list table .search-table-mobile { margin: .1em 5% .25em; width: 90%; }
.search-list table td.search-text-column { width: 93%; padding-left: 0.5em; }
.search-list table td.search-text-column .search-text-mobile { width: 95%; }
.search-list table tr:hover { background-color: #e6e7e7; }

.search-list .search-selected { background-color: #e6e7e7 !important; }

body.media-landscape { font-size: 100%; /* Elements that are positioned differently for different queries */ }
body.media-landscape div.toc-holder, body.media-landscape div.idx-holder, body.media-landscape div.glo-holder, body.media-landscape div.filter-holder, body.media-landscape div.searchbar, body.media-landscape div.searchresults.layout-visible { position: absolute; top: 4em; left: 5em; bottom: 0; width: 20em; }
body.media-landscape div.functionbar { position: absolute; top: 4em; left: 0; bottom: 0; border-right-width: 0.1em; border-right-style: solid; border-right-color: #AAA7A7; }
body.media-landscape div.toc-holder, body.media-landscape div.idx-holder, body.media-landscape div.glo-holder, body.media-landscape div.filter-holder, body.media-landscape div.searchbar { background-color: #ffffff; border-right-width: 0.1em; border-right-style: solid; border-right-color: #e6e6e6; }
body.media-landscape div.layout-visible.toc-holder, body.media-landscape div.layout-visible.idx-holder, body.media-landscape div.layout-visible.glo-holder, body.media-landscape div.layout-visible.filter-holder, body.media-landscape div.layout-visible.searchbar { overflow: auto; -webkit-overflow-scrolling: touch; }
body.media-landscape div.header { height: 4em; padding-top: 1.25em; }
body.media-landscape div.header div { height: 1.875em; }
body.media-landscape div.header div.logo { float: left;  /* EDIT: Changed width */ width:150px; margin-right: 1.25em; margin-left: 1.875em; }
body.media-landscape div.header div.title { /* EDIT: Changed left, top, font-size, font-weight */ position: absolute; top: 1.05em; left: 8.5em; right: 4.6875em; height: 1.1em; line-height: 100%; font-size: 1.6em; font-weight: 300; overflow: auto; }
body.media-landscape div.header div.brs_next { float: right; width: 1.875em; margin-right: 2.5em; }
body.media-landscape div.header div.brs_next a { background-image: url("next_tab.png"); background-repeat: no-repeat; background-position: left top; background-size: contain; }
body.media-landscape div.header div.brs_next a:active { background-color: transparent; background-image: url("next_tab_active.png"); background-repeat: no-repeat; background-position: left top; background-size: contain; }
body.media-landscape div.header div.brs_previous { float: right; width: 1.875em; margin-right: 1.5em; }
body.media-landscape div.header div.brs_previous a { background-image: url("previous_tab.png"); background-repeat: no-repeat; background-position: left top; background-size: contain; }
body.media-landscape div.header div.brs_previous a:active { background-color: transparent; background-image: url("previous_tab_active.png"); background-repeat: no-repeat; background-position: left top; background-size: contain; }
body.media-landscape div.header div a { display: block; width: 100%; height: 100%; text-decoration: none; cursor: pointer; }
body.media-landscape div.functionbar { background-color: #f0f0f0; width: 5em; }
body.media-landscape div.functionbar div.nav { padding-top: .4em; padding-left: 0.625em; }
body.media-landscape div.functionbar div.nav a { display: block; width: calc(100% + .15em); /* We take + .1em to overflow the active button over the border of the nav element */ height: 6em; /* 2x the margin + the height of the buttons. */ margin-bottom: 0; cursor: pointer; -webkit-border-top-left-radius: 0.5em; -moz-border-radius-topleft: 0.5em; border-top-left-radius: 0.5em; -webkit-border-bottom-left-radius: 0.5em; -moz-border-radius-bottomleft: 0.5em; border-bottom-left-radius: 0.5em; }
body.media-landscape div.functionbar div.nav a.active { background-color: #ffffff; border-left-width: 0.1em; border-left-style: solid; border-left-color: #AAA7A7; border-top-width: 0.1em; border-top-style: solid; border-top-color: #AAA7A7; border-bottom-width: 0.1em; border-bottom-style: solid; border-bottom-color: #AAA7A7; }
/* EDIT: Changed 6x background-size */
body.media-landscape div.functionbar div.nav a.toc { background-image: url("basler_toc.svg"); background-repeat: no-repeat; background-position: center center; background-size: 25px; }
/* body.media-landscape div.functionbar div.nav a.idx { background-image: url("index_tab.png"); background-repeat: no-repeat; background-position: center center; background-size: 25px; } */
/* body.media-landscape div.functionbar div.nav a.glo { background-image: url("glossary_tab.png"); background-repeat: no-repeat; background-position: center center; background-size: 25px; } */
body.media-landscape div.functionbar div.nav a.filter { background-image: url("basler_filter.svg"); background-repeat: no-repeat; background-position: center center; background-size: 25px; }
body.media-landscape div.functionbar div.nav a.filter.filter-applied { /* EDIT: Changed background image */ background-image: url("basler_filter.svg"); background-repeat: no-repeat; background-position: center center; background-size: 25px; }
body.media-landscape div.functionbar div.nav a.fts { background-image: url("basler_search.svg"); background-repeat: no-repeat; background-position: center center; background-size: 25px; }
body.media-landscape div.toc-holder { padding-left: .5em; }
body.media-landscape div.toc-holder ul { margin-left: 0; }
body.media-landscape div.toc-holder ul li { margin-left: 0 !important; }
body.media-landscape div.toc-holder.drill-down ul li.collapsing { -ms-animation-name: drill-down-up-landscape; -ms-animation-duration: 0.5s; -moz-animation-name: drill-down-up-landscape; -moz-animation-duration: 0.5s; -webkit-animation-name: drill-down-up-landscape; -webkit-animation-duration: 0.5s; animation-name: drill-down-up-landscape; animation-duration: 0.5s; }
body.media-landscape div.filter-holder:not(.layout-visible) { padding: 0 !important; }
body.media-landscape div.filter-holder a.reset-button { position: absolute; top: .7em; right: .25em; height: 1.75em; width: 2em; }
body.media-landscape div.searchbar { border-bottom-width: 0.1em; border-bottom-style: solid; border-bottom-color: #e6e6e6; border-right-width: 0.1em; border-right-style: solid; border-right-color: #e6e6e6; top: 4em; }
body.media-landscape div.searchbar a.wSearchLink { display: none; }
body.media-landscape div.searchbar.searchpage-mode ~ div.topic { left: 25em; }
body.media-landscape div.searchresults.layout-visible { top: 7.3em; overflow-x: hidden; overflow-y: auto; border-right-width: 0.1em; border-right-style: solid; border-right-color: #e6e6e6; }
/* body.media-landscape div.searchresults.layout-visible label.wSearchAndLabelResults { background-image: url("andsearch_nomark.png"); background-repeat: no-repeat; background-position: left 1em; background-size: auto 0.8em; } */
/* body.media-landscape div.searchresults.layout-visible label.wSearchAndLabelResults.active { background-image: url("andsearch_mark.png"); } */
body.media-landscape div.topic { position: absolute; top: 4em; left: 5em; right: 0; bottom: 0; z-index: 10; -o-transition-duration: 0.35s; -o-transition-timing-function: ease-out; -o-transition-property: left; -ms-transition-duration: 0.35s; -ms-transition-timing-function: ease-out; -ms-transition-property: left; -moz-transition-duration: 0.35s; -moz-transition-timing-function: ease-out; -moz-transition-property: left; -webkit-transition-duration: 0.35s; -webkit-transition-timing-function: ease-out; -webkit-transition-property: left; transition-duration: 0.35s; transition-timing-function: ease-out; transition-property: left; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; backface-visibility: hidden; -webkit-perspective: 1000; -moz-perspective: 1000; -ms-perspective: 1000; perspective: 1000; }
body.media-landscape div.topic.sidebar-opened { left: 25em; }
body.media-landscape div.idx-holder input, body.media-landscape div.glo-holder input, body.media-landscape div.searchbar input { font-size: 80% !important; }

body.media-desktop { font-size: 62.5%; /* Set the default size to 10px. This makes for easy calculation according to spec */ /* Elements that are positioned differently for different queries */ }
body.media-desktop div.functionbar { position: absolute; top: 7em; left: 0; width: 35em; border-right-width: 0.1em; border-right-style: solid; border-right-color: #e6e6e6; }
body.media-desktop div.desktop-sidebar-hidden.functionbar { display: none; }
body.media-desktop div.toc-holder.layout-visible, body.media-desktop div.idx-holder.layout-visible, body.media-desktop div.glo-holder.layout-visible, body.media-desktop div.filter-holder.layout-visible, body.media-desktop div.searchresults.search-sidebar { position: absolute; top: 11.3em; left: 0; width: 35em; bottom: 0; border-right-width: 0.1em; border-right-style: solid; border-right-color: #e6e6e6; background-color: #fcfcfc; overflow: auto; }
body.media-desktop div.searchbar.search-sidebar { position: absolute; top: 11.3em; left: 0; width: 35em; border-right-width: 0.1em; border-right-style: solid; border-right-color: #e6e6e6; background-color: #fcfcfc; overflow: auto; }
body.media-desktop div.desktop-sidebar-hidden.toc-holder.layout-visible, body.media-desktop div.desktop-sidebar-hidden.idx-holder.layout-visible, body.media-desktop div.desktop-sidebar-hidden.glo-holder.layout-visible, body.media-desktop div.desktop-sidebar-hidden.filter-holder.layout-visible, body.media-desktop div.desktop-sidebar-hidden.searchbar.search-sidebar, body.media-desktop div.desktop-sidebar-hidden.searchresults.search-sidebar { display: none; }
body.media-desktop div.searchresults.search-content, body.media-desktop div.topic { position: absolute; top: 7em; left: 35em; right: 0; bottom: 0; margin: 0; padding: 0; }
body.media-desktop div.desktop-sidebar-hidden.searchresults.search-content, body.media-desktop div.desktop-sidebar-hidden.topic { left: 0; }
body.media-desktop div.header { height: 7em; padding: 2em; }
body.media-desktop div.header div { float: left; }
body.media-desktop div.header div.logo { /* EDIT: Changed width + height */ height: 40px; width:185px; /* EDIT: Added margin-top */ margin-top: -5px; margin-right: 3em; }
body.media-desktop div.header div.title { /* EDIT: Changed font-size, font-weight, added margin */ height: 1.33333em; line-height: 100%; font-size: 3em; font-weight: 300; max-width: 28em; margin: 7px 0 0 75px; overflow: auto; }
body.media-desktop div.header div.brs_next, body.media-desktop div.header div.brs_previous { display: none; }
body.media-desktop div.functionbar { background-color: #f0f0f0; height: 4.3em; padding: 0.6em; border-bottom-width: 0.1em; border-bottom-style: solid; border-bottom-color: #d2d2d2; min-width: 33em !important; }
body.media-desktop div.functionbar.desktop-sidebar-hidden { display: none; }
body.media-desktop div.functionbar div.nav a { float: left; display: block; width: 5.5em; height: 3.741em; cursor: pointer; -webkit-border-top-left-radius: 0.9em; -moz-border-radius-topleft: 0.9em; border-top-left-radius: 0.9em; -webkit-border-top-right-radius: 0.9em; -moz-border-radius-topright: 0.9em; border-top-right-radius: 0.9em; background-color: transparent; }
body.media-desktop div.functionbar div.nav a.active { background-color: #fcfcfc; border-top-width: 0.1em; border-top-style: solid; border-top-color: #d2d2d2; border-bottom-width: 0.1em; border-bottom-style: solid; border-bottom-color: #d2d2d2; border-left-width: 0.1em; border-left-style: solid; border-left-color: #d2d2d2; border-right-width: 0.1em; border-right-style: solid; border-right-color: #d2d2d2; border-bottom: none; }
/* EDIT: Changed 6x background-size */
body.media-desktop div.functionbar div.nav a.toc { background-image: url("basler_toc.svg"); background-repeat: no-repeat; background-position: center 0.86em; background-size: 20px; }
/* body.media-desktop div.functionbar div.nav a.idx { background-image: url("index_desktop.png"); background-repeat: no-repeat; background-position: center 0.86em; background-size: 20px; } */
/* body.media-desktop div.functionbar div.nav a.glo { background-image: url("glossary_desktop.png"); background-repeat: no-repeat; background-position: center 0.86em; background-size: 20px; } */
body.media-desktop div.functionbar div.nav a.filter { background-image: url("basler_filter.svg"); background-repeat: no-repeat; background-position: center 0.86em; background-size: 20px; }
body.media-desktop div.functionbar div.nav a.filter.filter-applied { /* EDIT: Changed background image */ background-image: url("basler_filter.svg"); background-repeat: no-repeat; background-position: center 0.86em; background-size: 20px; }
body.media-desktop div.functionbar div.nav a.fts { display: none; background-image: url("basler_search.svg"); background-repeat: no-repeat; background-position: center 0.86em; background-size: 20px; }
body.media-desktop div.functionbar div.nav a.fts.search-sidebar { display: block; }
body.media-desktop div.toc-holder.layout-visible { margin-top: 0; padding-top: .2em; }
body.media-desktop div.idx-holder div.Index li.treeitem { margin-left: 1.43em !important; font-size: 0.875rem; }
body.media-desktop div.idx-holder li.treeitem div { font-size: 100%; }
body.media-desktop div.idx-holder .IndexAlphabet { display: none; }
body.media-desktop div.glo-holder div.Glossary ul { padding-left: 0px; }
body.media-desktop div.glo-holder div.Glossary li.treeitem { margin-left: 1.43rem !important; font-size: 0.875rem; }
body.media-desktop div.glo-holder div div { font-size: 100%; }
body.media-desktop div.glo-holder .GloAlphabet { display: none; }
body.media-desktop div.filter-holder { display: none; /*We need this to let IE11 hide the filter content on desktop (otherwise it will be visible over the sidebar and header.)*/ }
body.media-desktop div.filter-holder.layout-visible { display: block; }
body.media-desktop div.filter-holder.layout-visible a.reset-button { position: absolute; top: 1em; right: .5em; height: 2em; width: 2.5em; }
body.media-desktop div.searchbar.search-sidebar { z-index: 1000; background-color: #fafafa; opacity: 100%; /* EDIT: Removed border and border-radius, added border-right */ border-right: 1px solid #e6e6e6;}
body.media-desktop div.searchbar.search-content { display: none; }
body.media-desktop div.searchbar-extra { color: #ffffff; background-color: #2461a4; -webkit-border-radius: 0.4em; -moz-border-radius: 0.4em; /* EDIT: Changed border-radius */ border-radius: 0.3em; padding: 0 .3em; }
body.media-desktop div.searchbar-extra { position: absolute; /* EDIT: Replaced right by left, added left, removed background-color, changed top, border-radius, and padding */ top: 2.6em; left: 76.1em; background: transparent; color: #303030 !important; -webkit-border-radius: 0.3em; -moz-border-radius: 0.3em; border-radius: 0.3em; padding: 0.1em 0.2em 0.3em 0.2em; background-color: #fff; /* EDIT: Changed box shadow color */ box-shadow: 0.1rem 0.1rem 0.5rem #606060; z-index: 10; }
body.media-desktop div.searchbar-extra input.wSearchField { display: inline-block; font-size: 1.4em; height: 1.98em; /* EDIT: Decreased width, padding-left, removed border */ width: 11em; padding: 0; padding-left: 0.7em; border: none; vertical-align: bottom; -o-transition-duration: 0.35s; -o-transition-timing-function: ease-out; -o-transition-property: width; -ms-transition-duration: 0.35s; -ms-transition-timing-function: ease-out; -ms-transition-property: width; -moz-transition-duration: 0.35s; -moz-transition-timing-function: ease-out; -moz-transition-property: width; -webkit-transition-duration: 0.35s; -webkit-transition-timing-function: ease-out; -webkit-transition-property: width; transition-duration: 0.35s; transition-timing-function: ease-out; transition-property: width; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; backface-visibility: hidden; -webkit-perspective: 1000; -moz-perspective: 1000; -ms-perspective: 1000; perspective: 1000; }
body.media-desktop div.searchbar-extra input.wSearchField:focus, body.media-desktop div.searchbar-extra input.wSearchField.searchpage-mode { outline: 0; }
body.media-desktop div.searchbar-extra a.wSearchLink { display: inline-block; font-size: 1.5em; height: 1.98em; width: 2em; text-decoration: none; margin-left: -.22em; padding: 0; cursor: pointer; vertical-align: bottom; background-image: url("basler_search.svg"); background-repeat: no-repeat; background-position: 0.4em 0.4em; /* EDIT: Changed background-size */ background-size: 20px; }
/* body.media-desktop div.searchbar-extra a.wSearchLink:active { background-image: url("search_desktop_active.png"); } */
body.media-desktop div.searchbar-extra div.searchAND.layout-visible input { display: block; float: left; margin-top: .6em; }
body.media-desktop div.searchbar-extra div.searchAND.layout-visible label { display: block; float: left; margin-top: .7em; cursor: pointer; }
body.media-desktop div.searchbar-extra div.searchAND.layout-visible label span { font-size: 1.2em; }
/* body.media-desktop div.searchresults label.wSearchAndLabelResults { background-position: left top; background-size: auto 100%; padding-top: .2em; padding-left: 2.5em; background-image: url("andsearch_nomark.png"); background-repeat: no-repeat; background-position: left 0.6em; background-size: auto 1em; } */
/* body.media-desktop div.searchresults label.wSearchAndLabelResults.active { background-image: url("andsearch_mark.png"); background-repeat: no-repeat; background-position: left 0.6em; background-size: auto 1em; } */
body.media-desktop div.searchresults label.wSearchAndLabelResults span { font-size: 1.4em; }
body.media-desktop div.searchresults.search-sidebar { top: 15.8em; left: 0 !important; }
body.media-desktop div.searchresults.search-sidebar > div { font-size: 1.4em; }
body.media-desktop div.searchresults.search-content { z-index: 5; padding: 1em 0 0 0; width: auto !important; overflow: auto !important; }
body.media-desktop div.searchresults.search-content label.wSearchAndLabelResults { margin-top: 1em; margin-left: 2.5em; }
body.media-desktop div.searchresults.search-content > div { margin-left: 1.5em; font-size: 1.6em; }
body.media-desktop div.sidebarsizer { display: block; position: absolute; top: 7em; left: 35em; bottom: 0; width: 1em; cursor: col-resize; overflow: visible; z-index: 10; }body.media-desktop div.sidebarsizer a.sidebartoggle { position: absolute; top: 50%; left: 0; width: 1.6em; height: 2.5em; cursor: pointer; background: transparent url("basler_slider_close.svg") no-repeat left top; /* EDIT: Changed background-size */ background-size: 2.3em; }
body.media-desktop div.sidebarsizer.desktop-sidebar-hidden { left: 0; }
body.media-desktop div.sidebarsizer.desktop-sidebar-hidden a.sidebartoggle { background: transparent url("basler_slider_open.svg") no-repeat left top; /* EDIT: Changed background-size */ background-size: 2.3em; }
body.media-desktop div.topic iframe.topic { /* EDIT: Changed height */ width: calc(100% - 1em); height: calc(100% - 4em); margin-left: 1em; }
body.media-desktop div.topic div.functionholder { display: block; height: 4.3em; border-bottom-width: 0.1em; border-bottom-style: solid; border-bottom-color: #e6e6e6; padding-top: 1.075em; padding-right: 2em; width: 100%; }
body.media-desktop div.topic div.functionholder div.buttons { /* EDIT: Changed from float:right to absolute position */ left: 47.5em; position: absolute; }
body.media-desktop div.topic div.functionholder div.buttons > div { width: 2.15em; height: 2.15em; margin-left: 2em; float: left; }
body.media-desktop div.topic div.functionholder div.buttons > div.twitter-button { width: 90px; overflow: hidden; }
body.media-desktop div.topic div.functionholder div.buttons > div.fb-button { width: 150px; overflow: hidden; }
body.media-desktop div.topic div.functionholder div.buttons > div a { display: block; width: 100%; height: 100%; border: none; text-decoration: none; cursor: pointer; background-color: transparent; }
body.media-desktop div.topic div.functionholder div.buttons > div a.wBSNextButton { background-image: url("next.png"); background-repeat: no-repeat; background-position: left top; background-size: contain; }
body.media-desktop div.topic div.functionholder div.buttons > div a.wBSNextButton:active { background-image: url("next_active.png"); background-repeat: no-repeat; background-position: left top; background-size: contain; }
body.media-desktop div.topic div.functionholder div.buttons > div a.wBSBackButton { background-image: url("previous.png"); background-repeat: no-repeat; background-position: left top; background-size: contain; }
body.media-desktop div.topic div.functionholder div.buttons > div a.wBSBackButton:active { background-image: url("previous_active.png"); background-repeat: no-repeat; background-position: left top; background-size: contain; }
body.media-desktop div.topic div.functionholder div.buttons > div a.print { background-image: url("basler_print.svg"); background-repeat: no-repeat; background-position: left top; /* EDIT: Changed background-size for IE */ background-size: 20px; }
body.media-desktop div.topic div.functionholder div.buttons > div a.help { background-image: url("basler_help.svg"); background-repeat: no-repeat; background-position: left top; /* EDIT: Changed background-size for IE */ background-size: 20px; }
body.media-desktop div.topic div.functionholder div.buttons > div a.share { background-image: url("basler_share.svg"); background-repeat: no-repeat; background-position: left top; /* EDIT: Changed background-size for IE */ background-size: 20px; }
body.media-desktop div.idx-holder input, body.media-desktop div.glo-holder input, body.media-desktop div.searchbar input { /* EDIT: Increased font size */ font-size: 1.3em !important; }
body.media-desktop div.social_buttons { border-width: .1em !important; }
body.media-desktop div.social_buttons.opened div.fb-button, body.media-desktop div.social_buttons.opened div.twitter-button { padding-top: .1em; }

/* EDIT - additional styles - (c) Basler AG */

p.settings-description {
    margin: 10px 10px 0 10px;
    /*font-size: 90% !important;*/
}

div.filter-text-holder {
    font-size: 140%; 
    font-family: Roboto, Arial, sans-serif;
    display: inline; 
    position: absolute; 
    top: 1em;
    left: 50px;
    color: #303030;
    float: left;
}

body.media-landscape div.functionholder {
    display: block;  
	height: 2em;
	border-bottom: 0.1em solid #e6e6e6;
}

body.media-landscape div.functionholder div.buttons {
    display: none;
}

body.media-mobile div.filter-text-holder {
    display: none;
}

body.media-landscape div.filter-text-holder {
    top: 0.55em;
    left: 2.8em;
    font-size: 90%;
    color: #303030;
}

div.filter-text-holder a,
div.filter-text-holder-mobile a,
p.toc-footer a {
    color: #2461a4;
    text-decoration: none;
}

div.filter-text-holder-mobile a {
	font-size: 90%;
	margin: 2px 5px 0px 0px !important;
	width: auto !important;
}

body.media-landscape div.filter-text-holder a {
    color: #87c1e1;
}

div.filter-text-holder a:hover {
    text-decoration: underline;
}

img.prototype-message {
	display: none;
	cursor: pointer;
	vertical-align: top;
	width: 14px;
	height: 14px;
	margin-top: 1px;
}

body.media-mobile img.prototype-message {
	margin: 6px 5px 0px 0px !important;
}

p.toc-footer {
    margin:1em;
    font-size:1em;
	line-height: 160%;
}

hr.toc-footer-seperator {
    background-color: #e6e6e6;
	border: 0;
	height: 1px;
    margin-top: 1em;
}

body.media-mobile hr.toc-footer-seperator {
	margin-left: -2.75em;
}

body.media-mobile p.toc-footer {
	margin-left: -2em;
}

body.media-mobile p.toc-footer,
body.media-landscape p.toc-footer {
	font-size: 70%;
}

#selectedDeviceLink, 
#selectedDeviceLinkMobile {
	color: #008fd3;
}

/* List entries in camera select box */
body.media-desktop .select2-results__options {
	font-size: 1.4em !important;
}

/* Topics hidden via topic-level conditional build tag */
li.item.rh-hide, li.book.rh-hide {
    display: block !important;
    color: #aaa;
}